html {
  background-image: url("./firstPage-images/main-background.png");
  background-size: cover;
}

body, html{
  display: flex;
  /* background-repeat: no-repeat; */
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items:center;
}

h1 {
  font-size: 500%;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

.frontPagePic {
  width: 200px;
  height: auto;
  margin: 20px;
}

p {
  align-items: flex-end;
  font-size: 30px;
  font-family: 'EB Garamond', serif;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .dog-pic {
    width: 150px;
    height: auto;
  }

  .cat-pic {
    width: 160px;
    height: auto;
  }

  p {
    font-size: 20px;
  }
  h1 {
    font-size: 300%;
  }
}
