html {
  background-image: url("./catGameImages/tiles.jpg");
}

body {
  margin: 10px;
  width: 100%;
}

header {
  background-color: blue;
  text-align: center;
}

/* *** div wrapped around the whole board *** */
.whole-board {
  display: flex;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 50px;
  font-family:'Amatic SC', Arial;
  padding: 10px;
  margin: 0;
  position: relative;
}

.mouseCheese {
  position: absolute;
  background-image: url("catGameImages/cheeseMouse-down.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  transition: top 1s, left  1s;
  transition-timing-function: linear;
  width: 130px;
  height: 130px;
}

.mouse{
  position: absolute;
  background-position: center;
  transition: top 2s, left 1s;
  transition-timing-function: linear;
  width: 130px;
  height: 130px;
  background-size: contain;
  background-image: url("catGameImages/mouse-down.png");
  background-repeat: no-repeat;
}

section {
  height: 800px;
  width: 500px;
  position:relative;
  background-image: url("./catGameImages/score.jpg");
}

.gameboard {
  align-items: center;
  width: 800px;
  height: 800px;
}

h3 {
  font-family: 'Coming Soon', 'Arial';
  font-size: 40px;
}
